form{
  margin: 20px auto;
  width: 700px;
}

h1{
  text-align: center;
}

.tablaDatos{
  display: flex;
  place-content: center;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: ghostwhite;
}

fieldset{
  background-color: whitesmoke;
  border-radius: 20px;
}

button{
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  text-align: center;
  width: 80px;
}

.formulario{
  display: flex;
  flex-direction: column;
}

.formulario > *{
  margin: 1.5px 1.5px;
}

.radios{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.tabla{
  padding-top: 10px;
  margin: auto;
  border-collapse: collapse;
  width: 700px;
  background-color: whitesmoke;

}

.tabla td{
  text-align: center;
}
.tabla,
.tabla th,
.tabla td{
  border: 1px solid grey;
  max-width: 700px;
}
